@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.l1, .l2, .l3, .l4{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block1{
    display: flex;
}
.l1, .l2, .l3{
    list-style-type: none;
}
.l1 :first-child, .l2 :first-child, .l3 :first-child{
    color: #1E4681;
    font-size: 25px;
}
.l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
    font-weight: 400;
    font-size: 18px;
}
.l1 :nth-child(2), .l2 :nth-child(2){
    margin-top: 2%;
}
.l2, .l3{
    margin-left: 110px;
}
.l4 li{
    font-size: 24px;
    padding: 0.5%;
}
.head1, .head2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
.head1{
    margin-bottom: 6.5%;
    font-size: 55px;
}
.head2{
    font-size: 55px;
    margin-bottom: 3%;
    margin-top: 13%;
}
.format{
    margin-bottom: 6.5%;
    margin-top: 6%;
    margin-left: 8%;
}
.what{
    margin-left: 8%;
    margin-bottom: 14%;
}
.l1, .l2, .l3{
    width: 20%;
}
.l4{
    width: 46%;
}
.l4 :nth-child(3){
    width: 89%;
}
@media screen and (min-width: 992px) and (max-width: 1279px){
    .l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
        font-size: 11px !important;
    }
    .l1 :first-child, .l2 :first-child, .l3 :first-child{
        font-size: 15px !important;
    }
    .l4 li{
        font-size: 14px !important;
    }
    .head1, .head2{
        font-size: 32px !important;
        
    }
    .l4{
        width: 34%;
    }
    .l1 :nth-child(2){
        width: 62%;
    }
    .l2 :nth-child(2){
        width: 76%;
    }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    .block1{
      display: block;
    }
    .l2, .l3{
        margin-left: 0%;
    }
    .l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
        font-size: 10px !important;
    }
    .l4 li, .l1 :first-child, .l2 :first-child, .l3 :first-child{
        font-size: 12px !important;
    }
    .head1, .head2{
        font-size: 26px !important;
    }
    .l2, .l3{
        margin-top: 4%;
    }
    .l2 :nth-child(2){
        width: 97%;
    }
    .l4{
        width: 34%;
    }
    .l4 :nth-child(3){
        width: 95%;
    }

}
